<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  @for (control of listOfClients; track control; let i = $index) {
  <nz-form-item>
    @if (i === 0) {
    <nz-form-label [nzXs]="24" [nzSm]="4" [nzFor]="`client${control.id}`">
      Beneficitários
    </nz-form-label>
    }
    <nz-form-control
      [nzXs]="24"
      [nzSm]="20"
      [nzOffset]="i === 0 ? 0 : 4"
      nzErrorTip="Adicione os beneficitários ou remova o campo"
    >
      <input
        class="passenger-input"
        nz-input
        placeholder="Nome"
        [attr.id]="control.id"
        [formControlName]="`client${control.id}`"
      />
      <span
        nz-icon
        nzType="minus-circle-o"
        class="dynamic-delete-button"
        (click)="removeField(control.id, $event)"
      ></span>
    </nz-form-control>
  </nz-form-item>
  }

  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button
        nz-button
        nzType="dashed"
        class="add-button"
        (click)="addField($event)"
      >
        <nz-icon nzType="plus" />
        Adicionar campo
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button nz-button nzType="primary">Salvar</button>
    </nz-form-control>
  </nz-form-item>
</form>
<h3>Beneficitários \ Clientes cadastrados:</h3>
<ul nz-list [nzDataSource]="data" nzBordered class="custom-list">
  @for (item of data; track item) {
  <li nz-list-item nzNoFlex>
    <button
      nz-button
      nzType="default"
      (click)="startInfoMessage()"
      class="full-width"
    >
      {{ item.name }}
    </button>
  </li>
  }
</ul>

